<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>


<div *ngIf="!(authService.user | async)">
    <input type="text" [(ngModel)]="email" placeholder="email">
    <input type="password" [(ngModel)]="password" placeholder="email">

    <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

    <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>
</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Students List</h1>
    <!-- It won't show if there is no student data -->
    <!-- <a routerLink="/register-student" class="btn btn-success" *ngIf="hideWhenNoStudent">
        <i class="fas fa-plus custom-fa-plus"></i> Add Student
    </a> -->
</div>

<div class="pricing-header mx-auto">



    <!-- Showing students data -->
    <div *ngIf="authService.user | async" class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Student Id</th>
                    <th scope="col">Student name</th>
                    <th class="text-center" scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <!-- *ngFor loop iterates over Student array and fetch the student's data -->
                <!-- paginate pipe will add pagination in student's list, it won't show if items are less then 7 -->
                <tr *ngFor="let student of Student;let i = index;">
                    <th scope="row">{{student.$key}}</th>
                    <td>{{student.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>